/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	background: url(../images/1.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
	position: relative;
	
}
.main-odl {
    position: absolute;
    top: 0;
    left: 21%;
    width: 55%;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
canvas.particles-js-canvas-el {
    height: 789px!important;
}
/*--//parallax-js--*/

.main-agile h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}
.odl-newsletter h2 {
    font-size: 3em;
    letter-spacing: 2px;
    color: cornflowerblue;
}
.odl-newsletter p {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    width: 70%;
    margin: 1.5em auto;
    line-height: 1.6;
    color: #fff;
}
.main-agile {
    margin: 5em 0 7em;
}
.main-agile p {
    color: #fff;
    width: 59%;
    text-align: center;
    margin: 2em auto 1.5em;
    line-height: 30px;
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: 2px;
}
.content-wthree {
    padding: 50px 50px;
    text-align: center;
	position: relative;
}
.main-odl h1 {
    color: #fff;
    font-size: 2em;
    letter-spacing: 3px;
    margin: .55em 0;
	font-family: 'Josefin Sans', sans-serif;
}
.odl-newsletter form {
    width: 75%;
    margin: 2em auto 0;
}
.odl-newsletter input[type="text"] {
	text-align: center;
    padding: .8em 1em;
    width: 35%;
    letter-spacing: 1px;
    font-size: 1em;
    color: #fff;
    outline: none;
    border: 3px double #fff;
    background: none;
    float: center;
}
.odl-newsletter input[type="submit"] {
	width: 40%;
	margin-top: 5px;
    color: #fff;
    font-size: .9em;
    border: none;
    background: #1B4394;
    padding: 1.25em 3.5em;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    float: center;
    letter-spacing: 1px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.odl-newsletter input[type="submit"]:hover {
    background: #7BB9F2;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.odl-newsletter img {
    width: 45%;
}

/*--//footer--*/
.footer-w3l p {
    font-size: 1em;
    letter-spacing: 3px;
    padding: 2em 0;
	color:#fff;
}
.footer-w3l p a{
	color:#fff;
}
.footer-w3l p a:hover{
	text-decoration:underline;
}
/*--//footer--*/

/*--responsive--*/
@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	.odl-newsletter form {
		width: 82%;
	}
	.odl-newsletter p {
		width: 80%;
	}
}
@media(max-width: 1366px){
	.odl-newsletter form {
		width: 90%;
	}
}
@media(max-width: 1280px){
	.odl-newsletter p {
		width: 90%;
	}
	.main-odl h1 {
		font-size: 1.5em;
		margin: .5em 0;
	}
	.odl-newsletter h2 {
		font-size: 2.8em;
	}
	.odl-newsletter {
		padding: 2em 1em 3em;
	}
	canvas.particles-js-canvas-el {
		height: 704px!important
	}
	.main-odl {
		left: 20%;
		width: 60%;
	}
}
@media(max-width: 1080px){
	.main-odl {
		left: 15%;
		width: 70%;
	}
}
@media(max-width: 1050px){
	.main-odl {
		left: 14%;
	}
}
@media(max-width: 1024px){
	.main-odl {
		left: 13%;
		width: 72%;
	}
}
@media(max-width: 991px){
	.main-odl h1 {
		font-size: 3.3em;
	}
	.odl-newsletter h2 {
		font-size: 2.6em;
	}
	.odl-newsletter input[type="text"] {
		width: 64%;
	}
	.odl-newsletter {
		padding: 1.5em 1em 2em;
	}
	canvas.particles-js-canvas-el {
		height: 664px!important;
	}
}
@media(max-width: 900px){
	.main-odl {
		left: 10%;
		width: 79%;
	}
}
@media(max-width: 800px){
	.main-odl h1 {
		font-size: 3.2em;
	}
	.odl-newsletter h2 {
		font-size: 2.3em;
	}
	.odl-newsletter input[type="submit"] {
		padding: 1.25em 3em;
	}
	.odl-newsletter input[type="text"] {
		width: 62%;
	}
	.footer-w3l p {
		letter-spacing: 2px;
		 padding: 1.5em 0;
	}
	canvas.particles-js-canvas-el {
		height: 632px!important;
	}
}
@media(max-width: 768px){
	.main-odl {
		left: 9%;
		width: 81%;
	}
	.main-odl h1 {
		margin: 1em 0;
	}
	.footer-w3l p {
		padding: 5em 0;
	}
	canvas.particles-js-canvas-el {
		height: 909px!important;
	}
	.odl-newsletter input[type="text"] {
		width: 61%;
	}
}
@media(max-width: 736px){
	.main-odl h1 {
		margin: .4em 0;
		font-size: 3em;
	}
	.odl-newsletter h2 {
		font-size: 2.2em;
	}
	.odl-newsletter p {
		font-size: 1.2em;
	}
	.odl-newsletter img {
		width: 28%;
	}
	.odl-newsletter input[type="submit"] {
		padding: 1.25em 2.7em;
	}
	.footer-w3l p {
		padding: 2.5em 0;
	}
	canvas.particles-js-canvas-el {
		height: 600px!important;
	}
}
@media(max-width: 667px){
	.main-odl h1 {
		font-size: 2.8em;
	}
	.odl-newsletter h2 {
		font-size: 2em;
	}
	.odl-newsletter p {
		width: 100%;
	}
	.main-odl {
		left: 7%;
		width: 89%;
	}
	canvas.particles-js-canvas-el {
		height: 581px!important;
	}
	.footer-w3l p {
		padding: 1.5em 0;
	}
}
@media(max-width: 640px){
	.main-odl {
		left: 4%;
		width: 93%;
	}
}
@media(max-width: 600px){
	.odl-newsletter input[type="text"] {
		width: 58%;
	}
	.footer-w3l p {
		line-height: 2;
	}
	.odl-newsletter {
		padding: 1em 1em 2em;
	}
}
@media(max-width: 568px){
	.odl-newsletter input[type="submit"] {
		padding: 1.25em 2.3em;
	}
}
@media(max-width: 480px){
	.main-odl h1 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.odl-newsletter h2 {
		letter-spacing: 1px;
	}
	.odl-newsletter {
		padding: .8em 1em 1.5em;
	}
	.odl-newsletter h2 {
		font-size: 1.75em;
	}
	.odl-newsletter p {
		font-size: 1.1em;
	}
	.odl-newsletter img {
		width: 38%;
	}
	.odl-newsletter input[type="text"] {
		font-size: .9em;
	}
	.odl-newsletter input[type="submit"] {
		padding: 1.1em 1.4em;
	}
}
@media(max-width: 440px){
	.main-odl h1 {
		font-size: 2.3em;
		letter-spacing: 1px;
	}
	.odl-newsletter h2 {
		font-size: 1.65em;
	}
	.odl-newsletter input[type="text"] {
		width: 53%;
	}
}
@media(max-width: 414px){
	.odl-newsletter input[type="submit"] {
		font-size: .85em;
		padding: 1.2em 1.4em;
	}
	.main-odl {
		left: 2%;
		width: 95%;
	}
	.main-odl h1 {
		margin: 1.4em 0 .8em;
	}
	.odl-newsletter input[type="text"] {
		width: 52%;
	}
}
@media(max-width: 384px){
	.main-odl h1 {
		margin: 1em 0 .4em;
		font-size: 2em;
	}
	.odl-newsletter h2 {
		font-size: 1.4em;
	}
	.odl-newsletter input[type="submit"] {
		padding: 1.2em 1em;
	}
	.footer-w3l p {
		font-size: .9em;
	}
}
@media(max-width: 375px){
	.odl-newsletter {
		padding: .8em 0em 1.5em;
	}
	.main-odl h1 {
		margin: 1.2em 0 .4em;
	}
}
@media(max-width: 320px){
	.main-odl h1 {
		margin: .7em 0 .3em;
		font-size: 1.8em;
	}
	.odl-newsletter h2 {
		font-size: 1.25em;
	}
	.odl-newsletter p {
		font-size: 1em;
	}
	.odl-newsletter input[type="text"] {
		padding: .7em 1em;
		font-size: .8em;
	}
	.odl-newsletter input[type="submit"] {
		padding: 1.04em 1em;
		font-size: .8em;
	}
	.footer-w3l p {
		font-size: .8em;
		padding: 1em 0;
	}
	canvas.particles-js-canvas-el {
		height: 487px!important;
	}
}






h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  background: #fff;
  border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
   border-bottom: solid 1px rgba(255,255,255,0.1)
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td a {color: white;}
tr:nth-child(even) td a {color: #000;}

tr:nth-child(even) {background: #fff; color: #000;  border-bottom: solid 1px rgba(255,255,255,0.1);}
tr:nth-child(odd) {background: #000; color: #fff;  border-bottom: solid 1px rgba(255,255,255,0.1);}

// There is no required CSS for this plugin to work properly
// but here is what is being used to style this demo
.horizontal-nav {
  background: #efefef;
  border-radius: 6px;
  float: left;
}
.horizontal-nav ul {
  margin: 80px 60px;
  background: #000;
  float: left;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #fff;
}
.horizontal-nav ul li {
  float: center;
  border-left: 1px solid #fff;
}
.horizontal-nav ul li:first-child {
  border-left: 0 none;
}
.horizontal-nav ul li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255, 0.25);
  border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
  border-left: 0 none;
}
.horizontal-nav ul li a:hover {
  background: #2E9AFE;
}
.horizontal-nav ul li:first-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}